body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #4F46E5;
    color: white;
}

.navbar input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

/* JOB SECTION */
.jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 20px;
}

/* JOB CARD */
.job-card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.job-card:hover {
    transform: translateY(-8px);
}

/* BUTTON */
.job-card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #4F46E5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.job-card button:hover {
    background: #3730a3;
}
