body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #4F46E5;
    color: white;
}

.navbar input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

/* FILTERS */
.filters select {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}

/* JOB SECTION */
.jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 40px;
    gap: 20px;
}

/* JOB CARD */
.job-card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
}

.job-card:hover {
    transform: translateY(-8px);
}

/* BUTTON */
.job-card button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
    background: #4F46E5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.job-card button:hover {
    background: #3730a3;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.popup-content {
    background: white;
    padding: 30px;
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
}

.popup-content input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}
